body{
  background-color: #F5ECCE;
}

hr {
  border-width: 1px;
  border-color: black;
}

.menubar{
  list-style: none;
}

header01 img{
  width: 100vw;
}

.gray {
  background-color:#F4A460;
}

.gray ul {
  width:1000px;
  margin:0 auto;
}


h1 {
  text-align:center;
  height:30px;
  margin:45px auto 55px;
}

.navi ul {
  height:60px;
  text-align:center;
}

.navi li {
  display:inline-block;
  padding:0 10px;
}

.blog-contents{
  position: relative;
  font-size: 14px;
  line-height: 200%;
  padding: 70px 120px;
  margin: 0 0 20px;
  border-color: #777777;
  background-color: #fdfdfd;
}

.carousel .item {
  height: 100%;
}

.carousel img {
  width: 100%;
}

.sanko{
  color: #777777;
}

.sns{
  text-align: center;
}

.history{
  text-align: center;
  list-style: none;
}

.credit {
  text-align: center;
  margin: 3px;
}

.hf{
  text-align: left;
  float: left;
}
.amount{
  text-align: left;
  float: left;
}
.thick{
  text-align: left;
  float: left;
}
.recomm{
  text-align: left;
  float: left;
}
.star {
  text-align: right;
}

table.type04 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
}
table.type04 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
table.type04 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.profile{
  margin-left: 900px;
}
