<nav class="navbar navbar-default navbar-fixed-top visible-xs visible-sm">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">カレビュー</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">TOP <span class="sr-only">(current)</span></a></li>
        <li><a href="curry_list.html">食べたカレー一覧</a></li>
        <li><a href="sitemap.html">サイトマップ</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
    $(window).on('load resize', function(){
        // navbarの高さを取得する
        var height = $('.navbar').height();
        // bodyのpaddingにnavbarの高さを設定する
        $('body').css('padding-top',height);
    });
</script>

<div class="container">
  <img src="header01.png" alt="thum12" >
</div>


<div class="gray navi visible-md visible-lg">
  <ul>
    <li><a href="index.html"><img src="top.png" alt="thum10" width="130" height="60"></a></li>
    <li><a href="curry_list.html"><img src="curry_list.png" alt="thum11" width="200" height="60"></a></li>
    <li><a href="sitemap.html"><img src="sitemap.png" alt="thum12" width="200" height="60"></a></li>
  </ul>
</div>